<footer>
    <div class="mt-4 p-5 bg-dark text-white row">
        <div style="justify-content: space-evenly" class="container d-flex flex-wrap">
            <div class="me-5">
                <h3>Nhóm 17</h3>
                <ul>
                    <li class="ms-1">Nguyễn Hà Bảo Khang</li>
                    <li class="ms-1"></li>
                    <li class="ms-1"></li>
                </ul>
            </div>
            <div class="content about me-5">
                <h3>Theo dõi chúng tôi</h3>
                <ul style="list-style-type: disc" class="social-icon">
                    <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i>Facebook</a></li>
                    <li><a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i>Twitter</a></li>
                    <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>Instagram</a></li>
                    <li><a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i>Youtube</a></li>
                </ul>
            </div>
            <div class="content links me-5">
                <h3>Đường Dẫn</h3>
                <ul class="link">
                    <li><a href="/">Trang Chủ</a></li>
                    <li><a href="">Về Chúng Tôi</a></li>
                    <li><a href="">Thông Tin Liên Lạc</a></li>
                    <li><a href="">Dịch Vụ</a></li>
                    <li><a href="">Điều Kiện Chính Sách</a></li>
                </ul>
            </div>
            <div class="content help me-5">
                <h3>Trợ giúp</h3>
                <ul class="link">
                    <li><a href="">Trung tâm trợ giúp</a></li>
                    <li><a href="">Hình thức thanh toán</a></li>
                    <li><a href="">Hướng dẫn đăng nhập</a></li>
                    <li><a href="">Quy định sử dụng </a></li>
                    <li><a href="">Chính sách bảo mật</a></li>
                    <li><a href="">Liên hệ</a></li>
                </ul>
            </div>
            <div class="content contactus">
                <h3>Liên hệ</h3>
                <ul style="list-style-type: square">
                    <li>CÔNG TY ABC</li>
                    <li>Trụ sở: xã Nhơn Đức, huyện Nhà Bè, TP.HCM</li>
                    <li>Tổng đài tư vấn mua hàng: <b>19003851</b></li>
                    <li>Tổng đài dịch vụ vận chuyển: <b>19005341</b></li>
                    <li>Email: <a href="mailto:bookstorenhom3@gmail.com">bookstorenhom17@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <p>&copy; 2023</p>
    </div>
</footer>