<div class="header d-flex">
    <nav>
        <a class="navbar-brand" href="/">
            <img height="60" class="logo" src="../../static/img/logo_book.png" alt="logo image">
        </a>
        <a class="navbar-brand logo-name" href="/">Book Store</a>
    </nav>
</div>
<nav style="position: relative" class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid pe-0">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Thể loại</a>
                    <ul style="column-count: 3" class="dropdown-menu bg-dark">
                        {% for c in categories %}
                        <li><a class="dropdown-item text-white" href="/books/?page=1&cate_id={{ c.id }}&kw=/">
                            {{ c.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/cart/">&#128722; Giỏ hàng <span
                            class="badge bg-danger cart-counter">{{ total_quantity }}</span></a>
                </li>
            </ul>
            <div class="d-block">
                <div style="align-items: center" class="d-flex">
                    <form style="align-items: center; width: 90%" class="d-flex" action="/books/" method="get">
                        <input class="form-control me-2" type="text" placeholder="Nhập văn bản..." name="kw">
                        <button class="btn btn-primary icon" type="submit"><i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                    {% if user.is_authenticated %}
                    <div class="dropdown bg-dark">
                        <button type="button" class="btn btn-dark dropdown-toggle ms-1" data-bs-toggle="dropdown">
                            <img title="Hồ sơ" class="avatar-img" alt="avatar"
                                 src="{{ user.avatar.url }}">
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" href="/profile/">Hồ sơ</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/my_orders/">Đơn hàng của tôi</a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <form method="post" action="/logout/">
                                    {% csrf_token %}

                                    <button type="submit" class="dropdown-item">Đăng xuất</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    {% else %}
                    <a style="width: 35px" title="Đăng nhập" href="/login/" class="btn btn-primary icon ms-2 me-2">
                        <i class="fa-solid fa-user"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>