{% extends 'layout/base.html' %}

{% block content %}

<h1 class="mt-5 text-center text-uppercase text-success">Hồ sơ</h1>
<hr>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10 text-center"><h1>{{ user.username }}</h1></div>
    </div>
    <div class="row">
        <div class="col-md-3"><!--left col-->
            <form class="form" action="/profile/" method="post" id="registrationForm" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="text-center">
                    <img src="{{ user.avatar.url }}" class="avatar img-circle img-thumbnail"
                         alt="avatar">
                    <h6>Tải lên ảnh khác...</h6>
                    <input type="file" class="text-center center-block file-upload" name="avatar">
                </div>

                <ul class="list-group mt-2">
                    <li class="list-group-item text-muted">Hoạt động <i class="fa fa-dashboard fa-1x"></i></li>
                    <li class="list-group-item text-right"><span class="pull-left">
                    <strong>Số đơn hàng</strong></span> {{ stat.orders_count }}
                    </li>
                    <li class="list-group-item text-right"><span class="pull-left">
                    <strong>Số bình luận</strong></span> {{ stat.orders_count }}
                    </li>
                    <li class="list-group-item text-right"><span class="pull-left">
                    <strong>Số hóa đơn</strong></span> {{ stat.receipts_count }}
                    </li>
                </ul>

                <div class="panel panel-default mt-2">
                    <div class="panel-heading">Social Media</div>
                    <div class="panel-body">
                        <i class="fa fa-facebook fa-2x"></i>
                        <i class="fa fa-twitter fa-2x"></i>
                        <i class="fa fa-pinterest fa-2x"></i>
                        <i class="fa fa-google-plus fa-2x"></i>
                    </div>
                </div>

        </div>

        <div class="col-md-9">
            <div class="tab-content">
                <div class="tab-pane active" id="home">

                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="first_name" class="m-1"><h4>Tên</h4></label>
                            <input type="text" class="form-control" name="first_name" id="first_name"
                                   placeholder="{{ user.first_name }}" value="{{ user.first_name }}"
                                   title="enter your first name if any." required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="last_name" class="m-1"><h4>Họ</h4></label>
                            <input type="text" class="form-control" name="last_name" id="last_name"
                                   placeholder="{{ user.last_name }}" value="{{ user.last_name }}"
                                   title="enter your last name if any." required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="birthday" class="m-1"><h4>Ngày sinh</h4></label>
                            <input type="date" class="form-control" name="birthday" id="birthday"
                                   max="{{ today|date:'Y-m-d' }}"
                                   value="{{ user.birthday|date:'Y-m-d' }}" title="enter your birthday" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="gender" class="m-1"><h4>Giới tính</h4></label>
                            <select type="text" class="form-control" name="gender" id="gender"
                                    title="enter your birthday" required>
                                {% for g in gender %}
                                {% if user.gender.value == g.1 %}
                                <option value="{{ g.1 }}" selected>{{ g.0 }}</option>
                                {% else %}
                                <option value="{{ g.1 }}">{{ g.0 }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="phone" class="m-1"><h4>Số điện thoại</h4></label>
                            <input type="tel" class="form-control" name="phone" id="phone"
                                   placeholder="{{ user.phone }}" value="{{ user.phone }}"
                                   pattern="(?:7|0\d|\+94\d)\d{8}"
                                   title="enter your phone number if any." required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="email" class="m-1"><h4>Email</h4></label>
                            <input type="email" class="form-control" name="email" id="email"
                                   placeholder="{{ user.email }}" value="{{ user.email }}"
                                   title="enter your email." required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="address" class="m-1"><h4>Địa chỉ</h4></label>
                            <input type="text" class="form-control" id="address" name="address"
                                   placeholder="{{ user.address }}" value="{{ user.address }}"
                                   title="enter a location" required>
                        </div>
                    </div>

                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success mt-3" role="alert">
                        {{ message }}
                    </div>
                    {% elif message.tags == 'error' %}
                    <div class="alert alert-danger mt-3" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% endfor %}

                    <div class="form-group">
                        <div class="col-xs-12">
                            <br>
                            <button class="btn btn-lg btn-success" type="submit"><i
                                    class="glyphicon glyphicon-ok-sign"></i> Save
                            </button>
                            <button class="btn btn-lg" type="reset">
                                <i class="glyphicon glyphicon-repeat"></i> Reset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../static/js/profile.js"></script>

{% endblock %}